/****
MENU
****/
.container-menu ul li a:hover, .logo:hover  {
    
   color: var(--colorCeleste)
}

/****
FOOTER
****/

.fadeIn{
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 2;
    }
}

.fadeInDown{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeInDown;

    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
}

@keyframes fadeInDown{
    from{
        opacity: 0;
        transform: translate3d(0,-100%,0);
        -webkit-transform: translate3d(0,-100%,0) 
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0) 
    }
}

.fadeInUp{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp ;

    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp ;
}

@keyframes fadeInUp {

    from{
        opacity: 0;
        transform: translate3d(0,100%,0);
        -webkit-transform: translate3d(0,100%,0)
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0)
    }

}


.fadeInLeft{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInLeft ;

    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft ;
}

@keyframes fadeInLeft {

    from{
        opacity: 0;
        transform: translatex(-20px); 
        -webkit-transform: translatex(-20px)
    }
    to{
        opacity: 1;
        transform: translatex(-100);
        -webkit-transform: translatex(-100)
    }

}

.fadeInRight{

    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeInRight;

    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
}

@keyframes fadeInRight{
    from{
            opacity: 0;
            transform: translatex(-100);
            -webkit-transform: translatex(-100);
    }to{
            opacity: 1;
            transform: translatex(-20px);
            -webkit-transform: translatex(-20px);

    }
}
