html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
:root{
 --colorNegro:#010312;
 --colorCeleste:#4EBAF9;
 --colorAzul:#0067cd;
 --degradado:linear-gradient(to right, var(--colorAzul),var(--colorCeleste));
}

@font-face{
    font-family: titles;
    src: url("../fonts/Poppins-Medium.ttf");
}
@font-face{
font-family: texts;
    src: url("../fonts/Poppins-Light.ttf");
}

html {
    scroll-behavior: smooth;
  }


body{
    font-family: texts;
}



/*-----------------------------
        MENU
-----------------------------*/
.menu{
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-areas: "logo . container-menu";
    align-items: center;
    padding: 30px 20px;
    background-color: var(--colorNegro);
    color: white;
    font-size: 18px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0 auto;
    transition: top 0.5s;


}

.burger-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../icons/menu.svg");
    display: none;
    line-height: 40px;
    position: fixed;
    text-align: center;
    z-index: 11;
    right: 1em;
    bottom: 1em;
    color: white
}



.logo{
    grid-area: logo;
    

}

.container-menu{
    grid-area: container-menu
}


.container-menu li{

    padding: auto 10px;
    margin-right: 35px

}
ul li{
    display: inline-block;
    list-style: none;


}

a{
    text-decoration: none;
    color: white;
}
/*-----------------------------
        BUTTONS
-----------------------------*/
.btn{
    background: transparent;
    color: var(--colorCeleste);
    padding: 5px 25px;
    border-radius: 5px;
    border: 2px solid var(--colorCeleste)

}
/*-----------------------------
        MAIN
-----------------------------*/
.main-slider{
    display: flex;
    background-color: var(--colorNegro);
    padding:  3em;
    justify-content: center;
    box-sizing: border-box

}
.container-main, .about-me,.container-portfolio,.container-contact{
  max-width: 1440px;

}
.container-main{

    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-areas: "img-slider info-slider";
    grid-column-gap: 2em
}


.img-slider img{
    width: 100%;
    height: auto;

}

.main-slider .info-slider{
    grid-area: info-slider;
    margin-top: 20px;
}

.graphic-slider{
    display: flex;
    align-items: center;
    justify-content: center
}
#container{


width: 80%;

}


/*-----------------------------
        TITLES
-----------------------------*/
.titles{
    font-family: titles;
    font-size: 2.1em;
    color: var(--colorCeleste);
    text-transform: uppercase;
    margin-bottom: 25px
}
.subtitles-black,
.subtitles{
    font-size: 1.2em;

}
.subtitles{

    color: white;

}

.subtitles-black{

    color: black;

}
strong{
    color: var(--colorCeleste);

}

/*-----------------------------
        ABOUT ME
-----------------------------*/

.about-me{
    display: flex;
    margin: 0 auto;
    padding: 30px 30px 0px 30px;

}

.container-aboutme{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "title-about title-about title-about"
                         "about-me-subtitle-one about-me-img about-me-subtitle-two"
                         ". about-me-img .";
    justify-items: center;
   

    grid-column-gap: 2em;


}

.title-about{
    grid-area: title-about;
}

.about-me-subtitle-one{
    grid-area: about-me-subtitle-one;
}

.about-me-img{
    grid-area: about-me-img;
}

.about-me-img img{
    width: 100%;
    height: auto;
}


.about-me-subtitle-two{
    grid-area: about-me-subtitle-two
}
.skills{
    padding: 20px 0;

}
.skills h4{
    margin-bottom: 15px
}

.skill{
     background-color:#e9e6e6;
     border-radius: 17px;
     width: 100%;

}

.level{
    background-image: var(--degradado);
    height: 20px;
    border-radius: 17px;
    color: white;
    text-align: center
}

.one{

    width: 70%;
}

.two{

    width: 50%;
}

.three{

    width: 72%;
}

.profiles-container, .contact-icon-container{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 30px 0;
}
.profiles-container p {
  font-weight: bold;
}

.profiles{

    color: black
}
.lead,.comunicator,.time,
.icon-ni, .icon-phone, .icon-mail,
.facebook, .twitter, .intagram, .linkedIn, .github{
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    padding: 0 15px;
    display: inline-block;
    background-repeat: no-repeat;
    


}

.lead{
    background-image: url('../icons/win.svg');
}

.comunicator{
    background-image: url('../icons/chat.svg');
}

.time{
    background-image: url('../icons/time.svg');
}


/*-----------------------------
        PORTFOLIO
-----------------------------*/
.portfolio{
  display: flex;
  justify-content: center;
  background-color: var(--colorNegro);
  padding: 30px;




}

.container-portfolio{
  display: grid;
  grid-template-columns: repeat(3, auto );
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "portfolio-titles portfolio-titles portfolio-titles"
                       "porfolio-category porfolio-category porfolio-category"
                       ;
  grid-gap: 1em;
  justify-items: center;

}

.portfolio-titles{
    grid-area: portfolio-titles;
    text-align: center;
    padding-bottom: 1em

}

.porfolio-category {
    grid-area: porfolio-category;
    display: none;
}

.porfolio-category ul li{
    padding: 5px;
    margin-top: 20px;
    margin-right: 30px
}

.porfolio-category a{
    color: var(--colorCeleste)
}

.project-container{

  cursor: pointer;
  position: relative;

}

.image-container{
    margin: 0
}

.img-project{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    vertical-align: top

}
.project-info{
    background: rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.project-container:hover .project-info{
    display: flex;

}
.project-info span{
   display: block;

}

.titles-project{
    font-size: 1.5em;
    font-family: titles;
    color: var(--colorCeleste);
    padding: .5em 0
}
.subtitles-project{
    color: white;
    padding: 1em 0 2em 0
 }

 button{


    font-size: 16px;
    font-family: texts;
    cursor: pointer;



}

button,.btn:hover{

 background-image: var(--degradado);
 border: 2px solid var(--colorCeleste);
 color: white;
}


/*-----------------------------
        CONTACT
-----------------------------*/
.contact{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container-contact{

  display: grid;
  grid-template: repeat(2,auto)/repeat(2,1fr);
  grid-template-areas: "contact-titles contact-titles"
                       "contact-info contact-form";
  justify-items: center;
  grid-gap: 3em;

}

.contact-titles{
    grid-area: contact-titles;
    text-align: center;
    margin-bottom: 20px
}

.contact-info{
    grid-area: contact-info;
}
.contact-info p{
    font-weight: bold
}
.icon-ni{
    background-image: url("../icons/home.svg")
}

.icon-phone{
    background-image: url("../icons/smartphone.svg")
}

.icon-mail{
    background-image: url("../icons/email.svg")
}

.contact-form{
    grid-area: contact-form;
    text-align: center;
    max-width: 30em

}
input{
    margin-right: 5px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid var(--colorCeleste);
    font-family: texts
}
.contact-form input, textarea,.contact-form button {
    margin: 10px;
    padding: 8px
}

textarea{
    display: block;
    border-radius: 5px;
    width: 90%;
    font-family: texts;
    border: 2px solid var(--colorCeleste);
    font-size: 14px
}


/*-----------------------------
        FOOTER
-----------------------------*/

.footer{
    
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: black;
    padding: 30px;
}

.social-icons{
     
}

.sub-footer{


}

.facebook{
    background-image: url("../icons/facebook.svg")
}

.twitter{
    background-image: url("../icons/twitter.svg")
}

.intagram{
    background-image: url("../icons/instagram.svg")
}

.linkedIn{
    background-image: url("../icons/linkedin.svg")
}

.github{
    background-image: url("../icons/github.svg")
}

.sub-footer p{
    font-weight: bold;
    padding-top: 1em;
}

footer span{
  width: 3em;
  border-bottom: 5px solid var(--colorCeleste);
  padding-bottom: .5em
}
/*-----------------------------
        RESPONSIVE DESKTOP
-----------------------------*/

@media screen and (max-width:968px ) {
  .container-aboutme{

      grid-template-columns: repeat(2,1fr);
      grid-template-areas: "title-about title-about"
                           "about-me-subtitle-one about-me-img "
                           "about-me-subtitle-two about-me-subtitle-two ";


      }

      .about-me .about-me-subtitle-two{
         display: contents;

      }

      .about-me .skills {
        width: 90%
      }

      

      #container {
    
        width: 100%;
        

  }

}


@media screen and (max-width: 767px){
    .menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .1fr .5fr;
        grid-template-areas: "logo"
                             "container-menu"
                             ".";
        background-image: var(--degradado);
        color: white;
        position: fixed;
        top: 0;
        z-index: 12;
        margin: 0 auto;
        left: -110vw;
        width: 60vw;
        height: 100vh;
        transition: .3s;
        box-sizing: border-box
    
    
    }

    .logo{
        margin: 0 auto;
        background-image: url('../icons/logo-Jehaann-manzanares.svg');
        width: 15em;
        height: 12em;
        background-size: 15em 12em;
        background-repeat: no-repeat    
    }


    .container-menu .btn{
        border-color: white;
        color: white;
        
    }

    

    .menu.is-active {
        left: 0;
      }

    .container-menu{
        display: flex;
       
        justify-content: center
    }

    .container-menu ul li{
        display: block;
        padding: 1em
    } 
    .titles{
   font-size: 2em;
    }

 .subtitles-project {
    color: white;
    padding: .5em 0 1em 0;
}

.titles-project {
    
    padding: .2em 0;
}
.burger-button{
 display: block;
}

}



/*-----------------------------
  RESPONSIVE TABLET MOVIL
-----------------------------*/


@media screen and (max-width:480px) {
  
    .menu{
       
        width: 80vw;
        
    
    
    }
  .container-main{

    grid-template-columns: 1fr;
    grid-template-areas: "info-slider";
    grid-column-gap: .5em;
  }
  

  .titles{
    font-size: 1.5em;
  }

  .img-slider{
      display: none;

  }
  .container-aboutme{

      grid-template-columns: repeat(1,1fr);
      grid-template-areas: "title-about"
                           "about-me-subtitle-one"
                           "about-me-img"
                           "about-me-subtitle-two";



    
}

      .about-me-subtitle-two h3{
        padding-top: 25px;
        text-align: center;
      }


      .container-portfolio{

        grid-template-columns: repeat(1, auto );
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "portfolio-titles"
                             "porfolio-category";
        grid-gap: .5em;
        justify-items: center;

      }

      .porfolio-category{
        display: none;
      }

      .portfolio-titles{
        padding-bottom: .5em
      }


      .container-contact{


        grid-template-columns: 1fr;
        grid-template-areas: "contact-titles"
                             "contact-form"
                             "contact-info";
        justify-items: center;
        grid-gap: .5em;

      }

      .social-icons{
        text-align: center
   }

   .logo{
    
    width: 12em;
    height: 9em;
    background-size: 12em 9em;
        
} 

}
