html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

*{
  box-sizing: border-box;
}
:root{
 --colorNegro:#010312;
 --colorCeleste:#4EBAF9;
 --colorAzul:#0067cd;
 --degradado:linear-gradient(to right, var(--colorAzul),var(--colorCeleste));
}

@font-face{
    font-family: titles;
    src: url("../fonts/Poppins-Medium.ttf");
}
@font-face{
font-family: texts;
    src: url("../fonts/Poppins-Light.ttf");
}

html {
    scroll-behavior: smooth;
  }


body{
    font-family: texts;
}



/*-----------------------------
        MENU
-----------------------------*/
.menu{
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-areas: "logo . container-menu";
    align-items: center;
    padding: 30px 20px;
    background-color: var(--colorNegro);
    color: white;
    font-size: 18px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0 auto;
    transition: top 0.5s;


}

.burger-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../icons/menu.svg");
    display: none;
    line-height: 40px;
    position: fixed;
    text-align: center;
    z-index: 11;
    right: 1em;
    bottom: 1em;
    color: white
}



.logo{
    grid-area: logo;


}

.container-menu{
    grid-area: container-menu
}


.container-menu li{

    padding: auto 10px;
    margin-right: 35px

}
ul li{
    display: inline-block;
    list-style: none;


}

a{
    text-decoration: none;
    color: white;
}
/*-----------------------------
        BUTTONS
-----------------------------*/
.btn{
    background: transparent;
    color: var(--colorCeleste);
    padding: 5px 25px;
    border-radius: 5px;
    border: .5px solid var(--colorCeleste)

}
/*-----------------------------
        MAIN
-----------------------------*/
.main-slider{
    display: flex;
    background-color: var(--colorNegro);
    padding: 2.5em 1.5em;;
    justify-content: center;
    box-sizing: border-box;
    background-image: url(../images/main-slider.png);
    background-repeat: no-repeat;



}
/*-----------------------------
        SERVICES
-----------------------------*/
.container-services{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: ". title-service ."
  "development web-desing graphic-desing";
  grid-gap: 1em
}
.title-service{
  grid-area: title-service
}
.web-desing{
  grid-area: web-desing;
}

.development{
  grid-area: development;
}
.graphic-desing{
  grid-area: graphic-desing;
}

.icon-web-desing{
    background-image: url('../icons/web-desing.svg');
}

.icon-development{
    background-image: url('../icons/development.svg');
}

.icon-graphic-desing{
    background-image: url('../icons/graphic-desing.svg');
}

.services{
  background-color: var(--colorNegro);
  padding: 1.8em
}

.service{

  text-align: center;
  background: var(--colorAzul);
  padding: .5em;
  color: white;
  text-align: center;
  transition: .3s
}
.service p{
  margin-bottom: 1em
}

.service .btn{
  display: none;

}

.service:hover{

  background: white;
  color: var(--colorAzul)

}
.service h3{

  font-size: 1.3em

}
.content-icon{

  width: 6.2em;
  height: 6.2em;
  background-size: 6.2em 6.2em;
  border: 1.5px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1em auto
}
.service:hover .content-icon{

  background: var(--colorAzul);

}

.service:hover .btn{
  display: inline-block;
}

.container-main, .about-me,.container-portfolio,.container-contact, .container-services{
  max-width: 1440px;

}
.container-main{

    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-areas: "info-slider img-slider";
    grid-column-gap: 2em;

}
.centrado{
  text-align: center;
}

.img-slider img{
    width: 100%;
    height: auto;

}

.main-slider .info-slider{
    grid-area: info-slider;
    margin: 2.5em 0;

}

.info-grapich,.img-slider{
  display: flex;
  align-items: center;
}

.info-slider p{
  margin-bottom: 2em
}

.info-slider .works{

  color: white;
  border-color: white;
  margin-left: 1em

}
.graphic-slider{
    display: flex;
    align-items: center;
    justify-content: center
}
#container{


width: 80%;

}
/*-----------------------------
        BLOCKQUOTE - CITAS
-----------------------------*/
blockquote {
    font-family: titles;
    font-size: 1em;
    color: var(--colorCeleste);
    padding: 1em 2em 1em 0;
    border-left: var(--colorCeleste) solid 3px
}

cite{
    padding-left: 1em
}
/*-----------------------------
        TITLES
-----------------------------*/
.titles{
    font-family: titles;
    font-size: 2.1em;
    color: var(--colorCeleste);
    text-transform: uppercase;
    margin-bottom: 25px
}
.subtitles-black,
.subtitles, p{
    font-size: 1.1em;

}
.subtitles{

    color: white;

}

.subtitles-black{

    color: black;

}
strong{
    color: var(--colorCeleste);

}

/*-----------------------------
        ABOUT ME
-----------------------------*/

.about-me{
    display: flex;
    margin: 0 auto;
    padding: 2em;


}

.container-aboutme{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: ". title-about title-about"
                         "about-me-img about-me-subtitle-one about-me-subtitle-one"
                         "about-me-img about-me-subtitle-two about-me-subtitle-two";
    justify-items: left;


    grid-column-gap: 2em;


}

.title-about{
    grid-area: title-about;
}

.about-me-subtitle-one{
    grid-area: about-me-subtitle-one;
}

.about-me-img{
    grid-area: about-me-img;
}

.about-me-img img{
    width: 100%;
    height: auto;
}


.about-me-subtitle-two{
    grid-area: about-me-subtitle-two;
    width: 100%
}
.skills{

  display: inline-block;
  padding: 20px 0;
  width: 20em;


}
.skills h4{
    margin-bottom: 15px
}

.skill{
     background-color:#e9e6e6;
     border-radius: 17px;
     width: 100%;

}

.level{
    background-image: var(--degradado);
    height: 20px;
    border-radius: 17px;
    color: white;
    text-align: center
}

.one{

    width: 70%;
}

.two{

    width: 50%;
}

.three{

    width: 72%;
}

.profiles-container, .contact-icon-container{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 30px 0;
}
.profiles-container p {
  font-weight: bold;
}

.profiles{

    color: black
}
.lead,.comunicator,.time,
.icon-ni, .icon-phone, .icon-mail,
.facebook, .twitter, .intagram, .linkedIn, .github, .icon-web-desing, .icon-graphic-desing, .icon-development{
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    padding: 0 15px;
    display: inline-block;
    background-repeat: no-repeat;



}

.lead{
    background-image: url('../icons/win.svg');
}

.comunicator{
    background-image: url('../icons/chat.svg');
}

.time{
    background-image: url('../icons/time.svg');
}


.call-to-action-about{
  padding: 2em 0;
  
}

.call-to-action-about a{
  margin-right: 1em
}

.call-to-action-about .blue{
  background: var(--colorAzul);
  color: white
}

.call-to-action-about .blue:hover{
  background: transparent;
  color: var(--colorAzul);
  background-image: url(../icons/download-blue.svg);
}

.call-to-action-about .btn {

  padding: .6em 2em;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 150px;
  transition: .3s;
  
}
.call-to-action-about .download{
  
  background-image: url(../icons/download-white.svg);
  
}

.call-to-action-about .download:hover {
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 150px;
  background-image: url(../icons/download-blue.svg);
  
  
}

.call-to-action-about .sent{
  background-position-x: 160px;
  background-image: url(../icons/paper-plane-blue.svg);
}

.call-to-action-about .sent:hover {
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 160px;
  background-image: url(../icons/paper-plane-white.svg);
}
.line{
  margin: 2em 0;
  display: block;
  border: .5px solid var(--colorAzul);
  width: 90%;
  box-sizing: border-box
}
/*-----------------------------
        PORTFOLIO
-----------------------------*/
.portfolio{
  display: flex;
  justify-content: center;
  padding: 30px;




}

.container-portfolio{
  display: grid;
  grid-template-columns: repeat(3, auto );
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "portfolio-titles portfolio-titles portfolio-titles"
                       "porfolio-category porfolio-category porfolio-category"
                       ;
  grid-gap: 1em;
  justify-items: center;

}

.portfolio-titles{
    grid-area: portfolio-titles;
    text-align: center;
    padding-bottom: 1em

}

.porfolio-category {
    grid-area: porfolio-category;
    display: none;
}

.porfolio-category ul li{
    padding: 5px;
    margin-top: 20px;
    margin-right: 30px
}

.porfolio-category a{
    color: var(--colorCeleste)
}

.project-container{

  cursor: pointer;
  position: relative;
  transition: .3s
  

}

.image-container{
    margin: 0
}

.img-project{
    width: 100%;
    object-fit: cover;
    vertical-align: top

}
.project-info{
    background: rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    

}

.project-container:hover .project-info{
    display: flex;

}
.project-info span{
   display: block;

}

.titles-project{
    font-size: 1.5em;
    font-family: titles;
    color: var(--colorCeleste);
    padding: .5em 0
}
.subtitles-project{
    color: white;
    padding: 1em 0 2em 0
 }

 button{


    font-size: 16px;
    font-family: texts;
    cursor: pointer;



}

button,.btn:hover{

 background-color: var(--colorAzul);
 border: .5px solid var(--colorCeleste);
 color: white;
}

/*-----------------------------
        CALL TO ACTION
-----------------------------*/
.call-to-action{
  display: flex;
  background: var(--colorNegro);
  padding: 2em;
 
}

.container-call p{
  display: inline-block;
  margin: .5em 0 1em;
  padding-left: 0;
}

.container-call .btn{
  text-align: center;
}

/*-----------------------------
        CONTACT
-----------------------------*/
.contact{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container-contact{

  display: grid;
  grid-template: repeat(2,auto)/repeat(2,1fr);
  grid-template-areas: "contact-titles contact-titles"
                       "contact-info contact-form";
  justify-items: center;
  grid-gap: 3em;
  margin-right: 1em;

}

.contact-titles{
    grid-area: contact-titles;
    text-align: center;
    margin-bottom: 20px
}

.contact-info{
    grid-area: contact-info;
}
.contact-info p{
    font-weight: bold
}
.icon-ni{
    background-image: url("../icons/home.svg")
}

.icon-phone{
    background-image: url("../icons/smartphone.svg")
}

.icon-mail{
    background-image: url("../icons/email.svg")
}

.contact-form{
    grid-area: contact-form;
    text-align: center;
    max-width: 30em

}

/*
input{
    margin-right: 5px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid var(--colorCeleste);
    font-family: texts;
    background-color: transparent
}

input{

    background-color: var(--colorCeleste);
    color: white
}
.contact-form input, textarea,.contact-form button {
    margin: 10px;
    padding: 8px
}

textarea{
    display: block;
    border-radius: 5px;
    width: 90%;
    font-family: texts;
    border: 2px solid var(--colorCeleste);
    font-size: 14px
}
*/

/*-----------------------------
        FOOTER
-----------------------------*/

.footer{

    display: grid;
    align-items: center;
    justify-items: center;
    background-color:var(--colorNegro);
    padding: 30px;
}


.facebook{
    background-image: url("../icons/facebook.svg")
}

.twitter{
    background-image: url("../icons/twitter.svg")
}

.intagram{
    background-image: url("../icons/instagram.svg")
}

.linkedIn{
    background-image: url("../icons/linkedin.svg")
}

.github{
    background-image: url("../icons/github.svg")
}

.sub-footer p{
    font-weight: bold;
    padding-top: 1em;
}

footer span{
  width: 3em;
  border-bottom: 5px solid var(--colorCeleste);
  padding-bottom: .5em
}

.social-icons a{
  margin-left: .5em
}

/*-----------------------------
        RESPONSIVE DESKTOP
-----------------------------*/

@media screen and (max-width:968px ) {
  .container-aboutme{

      grid-template-columns: repeat(2,1fr);
      grid-template-areas: "title-about title-about"
                           "about-me-subtitle-one about-me-img "
                           "about-me-subtitle-two about-me-subtitle-two ";


      }

      .about-me .skills {
        width: 90%
      }

      #container {

        width: 100%;

  }

}


.blog{
    display: inline-block;
    height: auto;
    width: 100%;
    margin-bottom: 2em;
    box-sizing: border-box;


}
.container-blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    margin: 0 1em;
    
}
.container-blog-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em
}

.blog-post{
    display: block;
    height: auto;
    width: 100%;
    padding: 1em;
    box-shadow: 1px 1px 10px rgba(203, 203, 203, 0.9);
    box-sizing: border-box
}

.blog-post img{
 box-sizing: border-box;
 height: auto;
 width: 100%;
}

/*-----------------------------
  FIGURE -IMG
-----------------------------*/
figure{
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
/*-----------------------------
  SINGLE PAGE
-----------------------------*/

.content-post{
    display: grid;
    grid-template-columns: 1fr .3fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas: "article sidebar-principal"
                          "article .";
    padding: 2.5em;
    grid-gap: 2em

}

.article{
    grid-area: article;
}
.sidebar-principal{
    grid-area: sidebar-principal;


}

.content-post h2 {
    font-size: 1.5em;
    font-family: titles;
    color: var(--colorCeleste);
    padding: .5em 0
}

.contenedor-img img{
    width: 100%;
    height: auto;
    border-radius: 50%
}

.sidebar-principal{

    display: inline-block;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(203, 203, 203, 0.9);
    border-top: 3px solid var(--colorCeleste);
    border-bottom: 3px solid var(--colorCeleste);
    padding: 2em;
    margin-top: 2em

}

.contenedor-info h1, p{
 padding: .5em;
}


.sticky{
    position: -webkit-sticky;
    position: sticky;
    top:0;
  }

.widget a{
    font-size: 1em;
    color: var(--colorNegro);
    padding: 1em
}

.widget a:hover{

    color: var(--colorCeleste);

}

.widget h3{

    border-bottom: 3px solid var(--colorCeleste);
    margin: 1em 0
}

.widget-title{
    padding: .5em
}

.screen-reader-text{
    display: none
}


.widget_search .search-form input[type="submit"]{

    border-radius: 5px;
    border: 1px solid var(--colorCeleste);
    font-family: texts;
    background-color: transparent;
    color: var(--colorCeleste);
    padding: .5em;
}


.widget_search .search-form input[type="submit"]:hover{


    border: 1px solid var(--colorCeleste);
    background-color: var(--colorAzul);
    color: white
}

.gidgets-seconds  input[type="search"]{

    background-color: transparent;
    padding: .8em;
    margin: .5em;
    border-style: none;
    border: 1px solid var(--colorCeleste);
    border-radius: 5px;


}

.gidgets-seconds form{
    display: flex;
    align-items: center
}

@media screen and (max-width: 768px){
    .menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .1fr .5fr;
        grid-template-areas: "logo"
                             "container-menu"
                             ".";
        background-color: rgba(0, 0, 0,0.9);
        color: white;
        position: fixed;
        top: 0;
        z-index: 12;
        margin: 0 auto;
        left: -110vw;
        width: 60vw;
        height: 120vh;
        transition: .3s;
        box-sizing: border-box


    }

    .logo{
        margin: 0 auto;
        background-image: url('../icons/logo-Jehaann-manzanares.svg');
        width: 15em;
        height: 12em;
        background-size: 15em 12em;
        background-repeat: no-repeat
    }


    .menu.is-active {
        left: 0;
      }

    .container-menu{
        display: flex;

        justify-content: center
    }

    .container-menu ul li{
        display: block;
        padding: 1em
    }
    .titles{
   font-size: 2em;
    }



.burger-button{
 display: block;
}

.titles-project{
    font-size: 1em;
    padding: .5em 0
}
.subtitles-project{
  font-size: .8em;
    color: white;
    padding: .3em
 }

 .content-post{

    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "article"
                         "sidebar-principal";

}

.gidgets-seconds{
    width: 100%;
}

.gidgets-seconds label{
    width: 80%
}

.gidgets-seconds input[type="search"]{

    width: 90%


}

/*-----------------------------
        SERVICES-TABLET
-----------------------------*/

.c.blog-post{

  width: 90%;

}

.blog .container-blog{
  display: inline-block;

}

.call-to-action, .call-to-action-about{
  text-align: center
 
}


}
/*-----------------------------
  RESPONSIVE TABLET MOVIL
-----------------------------*/
@media screen and (max-width:480px) {

    .menu{

        width: 85vw;
    }
  .container-main{

    grid-template-columns: 1fr;
    grid-template-rows: .7fr 1fr;
    grid-template-areas:"img-slider"
                        "info-slider";
    grid-column-gap: .5em;
  }

  .info-grapich{
    margin-left: 1.5em

  }
  .bloque a{
    display: block;
    margin-bottom: .5em
  }

  .info-slider .works{
    margin-left: 0

  }
  .titles{
    font-size: 1.5em;
  }


  .container-aboutme{

      grid-template-columns: repeat(1,1fr);
      grid-template-areas: "title-about"
                           "about-me-subtitle-one"
                           "about-me-img"
                           "about-me-subtitle-two";

}

      .about-me-subtitle-two h3{
        padding-top: 25px;
        text-align: center;
      }

      .padding{
        padding: 30px;
      }

      .container-portfolio{

        grid-template-columns: repeat(1, auto );
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "portfolio-titles"
                             "porfolio-category";
        grid-gap: .5em;

      }

      .porfolio-category{
        display: none;
      }

      .portfolio-titles{
        padding-bottom: .5em
      }

      .container-contact{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "contact-titles"
                             "contact-form"
                             "contact-info";
        justify-items: center;
        grid-gap: .5em;

      }

      .social-icons{
        text-align: center
   }


   .logo{

    width: 12em;
    height: 9em;
    background-size: 12em 9em;

}

.call-to-action .btn{
  display: block;
}

.call-to-action-about .btn{
  display: block;
  margin-bottom: 1em;
}

.call-to-action-about .btn {
  background-position-x: 250px
}

.call-to-action-about .btn:hover {
  background-position-x: 250px
}

.container-services{

  grid-template-columns: 1fr;
  grid-auto-rows: repeat(3,1fr);
  grid-template-areas:    "title-service"
                          "development"
                          "web-desing"
                          "graphic-desing";
  grid-gap: 1em
}


}

@media screen and (max-width:320px){
  .call-to-action-about .btn {
    background-position-x: 200px
  }
  
  .call-to-action-about .btn:hover {
    background-position-x: 200px
  }
}

/* Error Elementor ancho*/

.single {
  
  width: 90%;
}